name: common-ci-cd 

on: 
  workflow_call: 
     inputs: 
       project: 
         required: true 
         type: string 
       component: 
         required: true 
         type: string 
       app_type: 
         required: true 
         type: string 
     
jobs: 
   ci: #job name 
    runs-on: self-hosted 
    steps: 
     - name: Checkout code 
       uses: actions/checkout@v3
     - name: check the files 
       run: ls -l 
     - name: Print the inputs 
       run: echo "project is ${{ inputs.project }}"                 